<p-table
  [value]="curPageData"
  [paginator]="paginator"
  [tableStyle]="{ 'min-width': '50rem' }"
  [rows]="rows"
  [totalRecords]="totalRecords"
  [lazy]="true"
  (onPage)="changePage($event)"
  [loading]="loading"
  [stripedRows]="stripedRows"
>
  @if (headerTemplate) {
    <ng-template pTemplate="header">
      <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
    </ng-template>
  }

  @if (bodyTemplate) {
    <ng-template pTemplate="body" let-rowData>
      <ng-container *ngTemplateOutlet="bodyTemplate; context: { $implicit: rowData }"></ng-container>
    </ng-template>
  }
</p-table>
