<div class="w-full text-white p-8 flex flex-col justify-center items-center">
  <div class="w-2/3">
    <h2 class="text-2xl font-bold mb-2">Forgot your password?</h2>
    <p class="text-sm mb-6">Enter your email address</p>

    <p-floatlabel variant="on" class="mt-4">
      <input class="w-full" pInputText id="email" [(ngModel)]="email" autocomplete="off" type="email" />
      <label for="email">Email</label>
    </p-floatlabel>

    <div class="w-full py-8">
      <p-button label="Send new Password" severity="success" class="w-full" styleClass="w-full"/>
    </div>
    <p class="text-sm text-center">
      <a class="underline cursor-pointer" (click)="onLogIn.emit()">Log in</a>
    </p>
  </div>
</div>
