<app-data-table-filter title="Users" (onAddNew)="userDetail.show()" (onRefresh)="dataTable.refresh()"></app-data-table-filter>

<div class="card mt-3">
  <app-data-table #dataTable [data]="users" [rows]="tableRowsPerPage" [loading]="isTableLoading"
                  (onPageChange)="getUsers($event)">
    <ng-template #tableHeader>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Company</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template #tableBody let-user>
      <tr>
        <td>{{ user.first_name }} {{user.last_name}}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.company }}</td>
        <td>
          <div class="flex justify-around">
            <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" severity="info" (click)="userDetail.show(user._id)"/>
            <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger" (click)="onDeleteUser($event, user._id)"/>
          </div>
        </td>
      </tr>
    </ng-template>
  </app-data-table>
</div>

<app-user #userDetail></app-user>
