.justify-between {
  justify-content: space-between !important;
}

.h-full {
  height: 100%;
}

.p-datatable-tbody > tr:last-child > td {
  border-width: 0
}

.p-datatable-tbody > tr > td {
  border-style: dotted !important;
}

app-data-prod-detail .p-card {
  border-radius: 4px;
}
