<div class="flex justify-between items-center">
  <app-title title="Permissions"></app-title>
  <p-button label="Add new" icon="pi pi-plus" styleClass="m-0" [outlined]="true" (click)="permissionDetail.show()"/>
</div>
<div class="card mt-3">
  <p-table
    [value]="permissions"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template #header>
      <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template #body let-permission>
      <tr>
        <td>{{ permission.name }}</td>
        <td>{{ permission.code }}</td>
        <td>{{ permission.description }}</td>
        <td>
          <div class="flex justify-around">
            <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" severity="info" (click)="permissionDetail.show(permission._id)"/>
            <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger" (click)="onDeletePermission($event, permission._id)"/>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-permission #permissionDetail></app-permission>
