<app-data-table-filter title="Permissions" (onAddNew)="permissionDetail.show()" (onRefresh)="dataTable.refresh()"></app-data-table-filter>
<div class="card mt-3">
  <app-data-table #dataTable [data]="permissions" [rows]="tableRowsPerPage" [loading]="isTableLoading"
                  (onPageChange)="getPermissions($event)">
    <ng-template #tableHeader>
      <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template #tableBody let-permission>
      <tr>
        <td>{{ permission.name }}</td>
        <td>{{ permission.code }}</td>
        <td>{{ permission.description }}</td>
        <td>
          <div class="flex justify-around">
            <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" severity="info" (click)="permissionDetail.show(permission._id)"/>
            <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger" (click)="onDeletePermission($event, permission._id)"/>
          </div>
        </td>
      </tr>
    </ng-template>
  </app-data-table>
</div>

<app-permission #permissionDetail></app-permission>
