<app-data-table-filter title="Accounts" (onAddNew)="accountDetail.show()" (onRefresh)="dataTable.refresh()"></app-data-table-filter>

<div class="card mt-3">
  <app-data-table #dataTable [data]="accounts" [rows]="tableRowsPerPage" [loading]="isTableLoading"
                  (onPageChange)="getAccounts($event)">
    <ng-template #tableHeader>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template #tableBody let-account>
      <tr>
        <td>{{ account.full_name }}</td>
        <td>{{ account.email }}</td>
        <td>
          <p-tag [value]="account.is_active" [severity]="getSeverity(account.status)" />
        </td>
        <td>
          <div class="flex justify-around">
            <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" severity="info" (click)="accountDetail.show(account._id)"/>
            <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger" (click)="onDeleteAccount($event, account._id)"/>
          </div>
        </td>
      </tr>
    </ng-template>
  </app-data-table>
</div>

<app-account #accountDetail></app-account>
