<app-data-table-filter title="Teams" (onAddNew)="teamDetail.show()" (onRefresh)="dataTable.refresh()"></app-data-table-filter>

<div class="card mt-3">
  <app-data-table #dataTable [data]="teams" [rows]="tableRowsPerPage" [loading]="isTableLoading"
                  (onPageChange)="getTeams($event)">
    <ng-template #tableHeader>
      <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>Type</th>
        <th>Members</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template #tableBody let-team>
      <tr>
        <td>{{ team.name }}</td>
        <td>{{ team.owners }}</td>
        <td>{{ team.type }}</td>
        <td>{{ team.members }}</td>
        <td>{{ team.description }}</td>
        <td>
          <div class="flex justify-around">
            <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" severity="info" (click)="teamDetail.show(team._id)"/>
            <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger" (click)="onDeleteTeam($event, team._id)"/>
          </div>
        </td>
      </tr>
    </ng-template>
  </app-data-table>
</div>

<app-team #teamDetail></app-team>
